body {
    display: grid;
    grid-template-rows: auto auto auto;
}
    .container.hero {
        background-image: url(../img/hero-image.jpg);
        background-repeat: round;
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
    }
        .row-short-top {
            grid-column: 2 / 3;
            text-align: center;
        }
            .logo {
                margin-top: calc(var(--hero-space) * 3);
                height: 40px;
            }
            h1 {
                margin-top: calc(var(--hero-space) * 2);
                font-size: 50px;
                text-transform: uppercase;
            }
            p {
                margin-top: var(--hero-space);
                margin-bottom: calc(var(--hero-space) * 2);
                font-size: 18px;
                color: #555;
            }
            .clock {
                margin-top: calc(var(--hero-space) * 3);
                margin-bottom: calc(var(--hero-space) * 2);
            }
            .form {
                margin-top: calc(var(--hero-space) * 2);
                margin-bottom: calc(var(--hero-space) * 1);
            }
            .mouse {
                margin-top: calc(var(--hero-space) * 1);
                margin-bottom: calc(var(--hero-space) * 1);
            }
        .row {
            display: grid;
            grid-template-columns: 30fr 270px 50px 230px 35fr;
        }
            .column.left {
                grid-column: 2 / 3;
            }
            .column.right {
                grid-column: 4 / 5;
            }
        .row.bottom {
            display: grid;
            grid-template-columns: 1fr 600px 1fr;
            background-color: var(--main-color);
        }
            .row-short-bottom {
                grid-column: 2 / 3;
            }
                nav {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
                .logo-bottom {
                    display: inline-block;
                    margin-left: calc(50% - 120px);
                }
                span {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }




